<div class="text-center">
    <h1 class="display-4">Soy Dana Faranah Carrillo Parra (17)</h1>
    <h2>Estudiante de Análisis y Desarrollo de Software en el SENA</h2>
    <img id="foto"src="/imagenes/imagen.jpg"/>
</div>

<div class="text-center">
    <img id="imgLogo" src="~/imagenes/node.png" alt="img"/>
</div>

<div class="row justify-content-center bg-success bg-opacity-75">
    <div class="col col-md-7 seccion-bienvenida"> 
        <h1>Te doy la Bienvenida a mi Portafolio</h1>
        <p class="text-center mt-5 fw-bold">
            Además de mi titulación en el SENA como Analista y Desarrollador de Software, estoy cursando un técnico como Programador de Software 
            en la Universidad Pontificia Bolivariana. He trabajado en distintos proyectos FullStack con distintas tecnologías, pero me 
            especializo principalmente en el desarrollo APIs con JavaScript y Node.js, utilizando Fastify, y MongoDB como base de datos.
        </p>
        <img src=""/>
    </div>
</div>