
@model IEnumerable<Proyecto>

    @if (Model is not null)
    {
        <div class="text-center" style="padding-top: 6rem">
            <h1>Mis Trabajos Recientes</h1>
        </div>
       
    }

<partial name="_listadoProyectos" model="Model">
    

