@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>Todos mis Proyectos</h1>
    <p>Aquí podrás  encontrar un listado con todos mis proyectos</p>
</div>

<partial name="_listadoProyectos" model="Model" />
